@import "mixins";

a {
    color: #00ce00;
}

.terminal .output .line {

    .g.m1 { /* bright */
        font-weight: 900;
    }

    .g.m2 { /* dim */
        opacity: 0.8;
    }

    .g.m3 {
        font-style: italic;
    }

    .g.m4 {
        text-decoration: underline;
    }

    .g.m5 {
        @include animation(blink infinite 1s);
    }

    .g.m7 {
        @include filter(invert(100%));
    }

    .g.m8 {
        opacity: 0;
    }

    //.g.m9 { // reserved for CWT
    //    opacity: 0.5;
    //}

    .g.hint {
        opacity: .5;
    }

    .g.m30 {
        color: #000000;
    }

    .g.m31 {
        color: #ff0000;
    }

    .g.m32 {
        color: #008000;
    }

    .g.m33 {
        color: yellow;
    }

    .g.m34 {
        color: #0000ff;
    }

    .g.m35 {
        color: magenta;
    }

    .g.m36 {
        color: cyan;
    }

    .g.m37 {
        color: white;
    }

    .g.m40 {
        background-color: #000000;
    }

    .g.m41 {
        background-color: #ff0000;
    }

    .g.m42 {
        background-color: #008000;
    }

    .g.m43 {
        background-color: yellow;
    }

    .g.m44 {
        background-color: #0000ff;
    }

    .g.m45 {
        background-color: magenta;
    }

    .g.m46 {
        background-color: cyan;
    }

    .g.m47 {
        background-color: white;
    }

    .g.keyword {
        color: #4898ff;
    }

    .g.string {
        color: #00c700;
    }

    .g.constant {
        color: cyan;
    }

    .g.special {
        color: yellow;
    }

    .g.variable {
        color: lightsalmon;
    }

    .g.selected {
        color: white;
        background-color: royalblue;
    }

    .g.error {
        border-bottom: 1px dashed red;
        display: inline-block;
    }

    .g.global {
        color: #ef6913;
    }

    .g.classname {
        color: cyan;
    }

}

@include keyframes(blink) {
    0% { @include filter(invert(0%)); }
    50% { @include filter(invert(100%)); }
    100% { @include filter(invert(0%)); }
}

@include keyframes(pulsate) {
    0% {
        transform: scale(.1);
        -o-transform: scale(.1);
        -ms-transform: scale(.1);
        -moz-transform: scale(.1);
        -webkit-transform: scale(.1);
        opacity: 0;
    }
    50% { opacity: 1; }
    100% {
        transform: scale(.5);
        -o-transform: scale(.5);
        -ms-transform: scale(.5);
        -moz-transform: scale(.5);
        -webkit-transform: scale(.5);
        opacity: 0;
    }
}