html, body {
    color: black;
    background: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.terminal .hint {
    text-shadow: 1px 1px 4px white;
}

.g.m31 {
    color: #c80000;
}

.g.m32 {
    color: #00c800;
}

.g.m33 {
    color: #c8c800;
}

.g.m34 {
    color: #0000c8;
}

.g.m35 {
    color: #c800c8;
}

.g.m36 {
    color: #00c8c8;
}

.g.m41 {
    background-color: #c80000;
}

.g.m42 {
    background-color: #00c800;
}

.g.m43 {
    background-color: #c8c800;
}

.g.m44 {
    background-color: #0000c8;
}

.g.m45 {
    background-color: #c800c8;
}

.g.m46 {
    background-color: #00c8c8;
}

